.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.app-container__alert {
  float: left;
  width: 100%;
  padding: 5px 5px;
  box-sizing: border-box;
  margin-bottom: 1px;
}

.app_container__alert.alert-danger {
  float: left;
  width: 100%;
  text-align: center;
  margin: 4px 0px;
  padding: 1px 0px;
  font-size: 10px;
}
