.app_search_offline {
  text-align: center;
  background: #ffb0b0;
  color: red;
  border: 1px solid red;
}

.label_movie.Poster label.lm_desc img {
  display: block;
  margin: 0 auto;
  background: beige;
}

.app_container.warning {
  text-align: center;
  background: #ffb0b0;
  color: red;
  border: 1px solid red;
}

.ahw_login-wrapper {
  width: calc(100% - 100px);
}

.app_header_wrapper .userLogged {
  display: block;
  float: right;
  font-size: 20px;
}

.page-user.page-name {
  padding: 10px;
  display: block;
  float: left;
  text-align: center;
  width: 100%;
  font-size: 20px;
  color: black;
  font-weight: bold;
}

.page-user.page-name {
  box-sizing: border-box;
}

.afp-desc-title {
  float: left;
  color: #8e1f1f;
}

.afp-desc-year {
  float: left;
  font-size: 12px;
  width: 100%;
  display: block;
}

#app-movie-db {
  overflow: hidden;
  min-width: 320px;
}

.app_center {
  display: block;
  float: left;
  width: 100%;
}
