.app_container.lm_list {
  //height: 60px;
  overflow: hidden;
}

label.lm_list-poster {
  width: 50px;
  height: auto;
  overflow: hidden;
  display: block;
  float: left;
}

label.lm_list-poster img {
  height: 100%;
  width: 100%;
  display: block;
  overflow: hidden;
}

label.lm_title {
  display: block;
  float: left;
  border: 1px solid #d0d0d0;
  box-sizing: border-box;
  text-align: justify;
  margin: 1px 0px;
  background: white;
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, white),
    color-stop(47%, #f6f6f6),
    color-stop(100%, #ededed)
  );
  background: linear-gradient(to bottom, white 0%, #f6f6f6 47%, #ededed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
  width: 100%;
  min-height: 20px;
  margin: 0px 0px 0px 0px;
  font-family: sans-serif;
  padding: 5px 10px 5px 10px;
  font-size: large;
  font-weight: bold;
  text-transform: uppercase;
}

.app_container.lm_list .lm_list-title {
  width: calc(100% - 50px);
  display: block;
  float: left;
  box-sizing: border-box;
  padding: 0px 0px 0px 10px;
  background: white;
  border-bottom: 1px solid #aca6a6;
  font-size: 12px;
}

.app_container.lm_list .lm_list-type {
  width: calc(50% - 50px);
  display: block;
  float: left;
  box-sizing: border-box;
  padding: 0px 0px 0px 10px;
  background: white;
  border-bottom: 1px solid #aca6a6;
  font-size: 12px;
}

.app_container.lm_list .lm_list-year {
  width: calc(50% - 50px);
  display: block;
  float: left;
  box-sizing: border-box;
  padding: 0px 0px 0px 10px;
  background: white;
  border-bottom: 1px solid #aca6a6;
  font-size: 12px;
}

.app_container.lm_list .lm_list-id {
  display: none;
}

.lm_list-poster {
  float: left;
}

.lm_col_left {
  float: left;
  width: 50px;
  background: white;
}

.lm_col_right {
  float: left;
  width: calc(100% - 50px);
}

.app_container.lm_list .lm_list-year {
  width: 50%;
}

.app_container.lm_list .lm_list-title {
  width: 100%;
}

.app_container.lm_list .lm_list-type {
  width: 50%;
}

label.lm_list-title {
  font-weight: bold;
  color: #645c5c;
}

.app_container.lm_list {
  background: white;
  padding: 5px 5px;
}

.app_container.lm_list {
  background: white;
  padding: 5px 5px;
}

label.lm_list-poster {
  height: 70px;
}
.app_container.lm_list .lm_list-title,
.app_container.lm_list .lm_list-year,
.app_container.lm_list .lm_list-type {
  border: none;
}

.app_container.lm_list .lm_list-type {
  width: 100%;
}

.app_container.lm_list {
  min-height: 80px;
}

.lm_search_results .lm_title {
  text-transform: capitalize;
  font-size: 12px;
  color: green;
}

.app_search_offline {
  text-align: center;
  background: #ffb0b0;
  color: red;
  border: 1px solid red;
}

button[attr-state="true"] {
  background: rgba(210, 255, 82, 1);
  background: -moz-linear-gradient(
    top,
    rgba(210, 255, 82, 1) 0%,
    rgba(145, 232, 66, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(210, 255, 82, 1)),
    color-stop(100%, rgba(145, 232, 66, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(210, 255, 82, 1) 0%,
    rgba(145, 232, 66, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(210, 255, 82, 1) 0%,
    rgba(145, 232, 66, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(210, 255, 82, 1) 0%,
    rgba(145, 232, 66, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(210, 255, 82, 1) 0%,
    rgba(145, 232, 66, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842', GradientType=0 );
  color: black;
  border: 1px solid #aaaaaa;
  width: 100px;
  height: 21px;
}

button[attr-state="false"] {
  background: rgba(255, 82, 84, 1);
  background: -moz-linear-gradient(
    top,
    rgba(255, 82, 84, 1) 0%,
    rgba(231, 103, 64, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(255, 82, 84, 1)),
    color-stop(100%, rgba(231, 103, 64, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(255, 82, 84, 1) 0%,
    rgba(231, 103, 64, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(255, 82, 84, 1) 0%,
    rgba(231, 103, 64, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(255, 82, 84, 1) 0%,
    rgba(231, 103, 64, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(255, 82, 84, 1) 0%,
    rgba(231, 103, 64, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5254', endColorstr='#e76740', GradientType=0 );
  color: black;
  border: 1px solid #aaaaaa;
  width: 100px;
  height: 21px;
}

button {
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */
  outline: none;
}

button:hover {
  opacity: 0.5;
}

.app_search_offline {
  color: black;
  border: 1px solid black;
}

.label_movie.Poster label.lm_desc img {
  display: block;
  margin: 0 auto;
  background: beige;
}

.app_container.warning {
  text-align: center;
  background: #ffb0b0;
  color: red;
  border: 1px solid red;
}

body {
  background: #afafaf;
}

.userLogged {
  float: right;
  display: block;
}

.ahw_login-wrapper {
  width: calc(100% - 100px);
}

.app_header_wrapper .userLogged {
  display: block;
  float: right;
  font-size: 20px;
}

label.userLogged-lastName,
label.userLogged-name {
  font-size: 12px;
  margin: 0;
  padding: 0 0px 0 5px;
  display: inline-block;
  font-size: large;
  color: #a70000;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}
