.app_search_offline {
  text-align: center;
  background: #ffb0b0;
  color: red;
  border: 1px solid red;
}

.label_movie.Poster label.lm_desc img {
  display: block;
  margin: 0 auto;
  background: beige;
}

.app_container.warning {
  text-align: center;
  background: #ffb0b0;
  color: red;
  border: 1px solid red;
}

.ahw_login-wrapper {
  width: calc(100% - 100px);
}

.app_header_wrapper .userLogged {
  display: block;
  float: right;
  font-size: 20px;
}

.page-user.page-name {
  padding: 10px;
  display: block;
  float: left;
  text-align: center;
  width: 100%;
  font-size: 20px;
  color: black;
  font-weight: bold;
}

.page-user.page-name {
  box-sizing: border-box;
}

.afp-desc-title {
  float: left;
  color: #8e1f1f;
}

.afp-desc-year {
  float: left;
  font-size: 12px;
  width: 100%;
  display: block;
}

#app-movie-db {
  overflow: hidden;
  min-width: 320px;
}

.app_center {
  display: block;
  float: left;
  width: 100%;
}

.app_container.app_header {
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: rgba(42, 42, 42, 0.9);
  box-shadow: 0 5px 13px 0 rgba(0, 0, 5, 0.3);
  border-radius: 4px;
  padding: 20px;
}

.app-wrapper-center {
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: rgba(42, 42, 42, 0.9);
  box-shadow: 0 5px 13px 0 rgba(0, 0, 5, 0.3);
  border-radius: 4px;
  overflow: hidden;
}

input.input_login {
  box-sizing: border-box;
  user-select: none;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.6);
  text-shadow: rgba(0, 0, 0, 0.5) 0 2px 1px;
  font-family: Varela, sans-serif;
}

input.input_login {
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0,
    rgba(0, 0, 0, 0.8) 0 1px 7px 0 inset;
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid black;
  border-radius: 10px;
  font-size: 12px;
  padding: 2px 20px;
  color: white;
}

input.input_password {
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0,
    rgba(0, 0, 0, 0.8) 0 1px 7px 0 inset;
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid black;
  border-radius: 10px;
  font-size: 12px;
  padding: 2px 20px;
  color: white;
}

input[type="submit"] {
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0 inset;
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid #131313;
  border-radius: 10px;
  font-size: 12px;
  padding: 2px 20px;
  color: white;
}

div#app-movie-db {
  padding: 5px;
}

input[type="submit"]:hover {
  opacity: 0.5;
  cursor: pointer;
}

input[type="submit"] {
  background: rgba(19, 19, 19, 1);
  background: -moz-linear-gradient(
    top,
    rgba(19, 19, 19, 1) 0%,
    rgba(28, 28, 28, 1) 9%,
    rgba(43, 43, 43, 1) 24%,
    rgba(17, 17, 17, 1) 42%,
    rgba(0, 0, 0, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(19, 19, 19, 1)),
    color-stop(9%, rgba(28, 28, 28, 1)),
    color-stop(24%, rgba(43, 43, 43, 1)),
    color-stop(42%, rgba(17, 17, 17, 1)),
    color-stop(100%, rgba(0, 0, 0, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(19, 19, 19, 1) 0%,
    rgba(28, 28, 28, 1) 9%,
    rgba(43, 43, 43, 1) 24%,
    rgba(17, 17, 17, 1) 42%,
    rgba(0, 0, 0, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(19, 19, 19, 1) 0%,
    rgba(28, 28, 28, 1) 9%,
    rgba(43, 43, 43, 1) 24%,
    rgba(17, 17, 17, 1) 42%,
    rgba(0, 0, 0, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(19, 19, 19, 1) 0%,
    rgba(28, 28, 28, 1) 9%,
    rgba(43, 43, 43, 1) 24%,
    rgba(17, 17, 17, 1) 42%,
    rgba(0, 0, 0, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(19, 19, 19, 1) 0%,
    rgba(28, 28, 28, 1) 9%,
    rgba(43, 43, 43, 1) 24%,
    rgba(17, 17, 17, 1) 42%,
    rgba(0, 0, 0, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#131313', endColorstr='#000000', GradientType=0 );
}

.app_container.app_navigation ul li {
  background: rgba(19, 19, 19, 1);
  background: -moz-linear-gradient(
    top,
    rgba(19, 19, 19, 1) 0%,
    rgba(28, 28, 28, 1) 9%,
    rgba(43, 43, 43, 1) 24%,
    rgba(17, 17, 17, 1) 42%,
    rgba(0, 0, 0, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(19, 19, 19, 1)),
    color-stop(9%, rgba(28, 28, 28, 1)),
    color-stop(24%, rgba(43, 43, 43, 1)),
    color-stop(42%, rgba(17, 17, 17, 1)),
    color-stop(100%, rgba(0, 0, 0, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(19, 19, 19, 1) 0%,
    rgba(28, 28, 28, 1) 9%,
    rgba(43, 43, 43, 1) 24%,
    rgba(17, 17, 17, 1) 42%,
    rgba(0, 0, 0, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(19, 19, 19, 1) 0%,
    rgba(28, 28, 28, 1) 9%,
    rgba(43, 43, 43, 1) 24%,
    rgba(17, 17, 17, 1) 42%,
    rgba(0, 0, 0, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(19, 19, 19, 1) 0%,
    rgba(28, 28, 28, 1) 9%,
    rgba(43, 43, 43, 1) 24%,
    rgba(17, 17, 17, 1) 42%,
    rgba(0, 0, 0, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(19, 19, 19, 1) 0%,
    rgba(28, 28, 28, 1) 9%,
    rgba(43, 43, 43, 1) 24%,
    rgba(17, 17, 17, 1) 42%,
    rgba(0, 0, 0, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#131313', endColorstr='#000000', GradientType=0 );
  color: white;
  font-size: 12px;
  border-radius: 16px;
  height: 20px;
  padding: 0;
  line-height: 20px;
  padding: 0 10px;
}

.app_container.app_developer {
  background-color: rgba(42, 42, 42, 0.9);
  box-shadow: 0 5px 13px 0 rgba(0, 0, 5, 0.3);
}

.ahw_login-wrapper {
}

.app_container.app_header {
  overflow: hidden;
}

.app_container.app_header .ahw_login-wrapper {
  width: auto;
}

.app_container.app_copyright {
  background-color: rgba(42, 42, 42, 0.9);
  box-shadow: 0 5px 13px 0 rgba(0, 0, 5, 0.3);
}

.app_container.app_navigation {
  background-color: rgba(42, 42, 42, 0.89);
  box-shadow: 0 5px 13px 0 rgba(0, 0, 5, 0.3);
}

.app_container.app_user {
  background: none;
  border: none;
  box-shadow: none;
  color: white;
  font-size: 12px;
}

.app_container.app_navigation ul li:hover {
  background: rgba(0, 0, 0, 1);
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 1) 0%,
    rgba(17, 17, 17, 1) 58%,
    rgba(43, 43, 43, 1) 76%,
    rgba(28, 28, 28, 1) 91%,
    rgba(19, 19, 19, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(0, 0, 0, 1)),
    color-stop(58%, rgba(17, 17, 17, 1)),
    color-stop(76%, rgba(43, 43, 43, 1)),
    color-stop(91%, rgba(28, 28, 28, 1)),
    color-stop(100%, rgba(19, 19, 19, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 1) 0%,
    rgba(17, 17, 17, 1) 58%,
    rgba(43, 43, 43, 1) 76%,
    rgba(28, 28, 28, 1) 91%,
    rgba(19, 19, 19, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(0, 0, 0, 1) 0%,
    rgba(17, 17, 17, 1) 58%,
    rgba(43, 43, 43, 1) 76%,
    rgba(28, 28, 28, 1) 91%,
    rgba(19, 19, 19, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(0, 0, 0, 1) 0%,
    rgba(17, 17, 17, 1) 58%,
    rgba(43, 43, 43, 1) 76%,
    rgba(28, 28, 28, 1) 91%,
    rgba(19, 19, 19, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(17, 17, 17, 1) 58%,
    rgba(43, 43, 43, 1) 76%,
    rgba(28, 28, 28, 1) 91%,
    rgba(19, 19, 19, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#131313', GradientType=0 );
}

.app_container.app_home {
  background: none;
  color: white;
}
