.all_user_table {
  .row {
    padding: 10px;
    border: 1px solid black;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1px;
    overflow: hidden;
  }

  .cell {
    float: left;
    display: block;
    padding: 0px 0px 0px 10px;
    height: 30px;
    border: 1px solid black;
    box-sizing: border-box;
    margin-right: 1px;
    line-height: 30px;
    min-width: 200px;
    margin-bottom: 1px;
    overflow: hidden;
    width: 100%;
    background: #1b1b1b;
    .title {
      float: left;
      width: 100px;
      padding: 0 5px;
      color: white;
      margin-right: 10px;
      background: #0e0e0e8c;
      box-shadow: 1px 1px 1px #000000;
    }
  }

  .cell:last-child {
    border-right: 1px solid black;
  }
}
