.app_user {
  .page-user-details {
    margin: 1px;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid black;
    font-size: 14px;
    &:after {
      clear: both;
      content: "";
      display: block;
    }
    label {
      width: 100%;
      float: left;
      display: block;
    }
  }
  .app-container__title {
    width: 100%;
    padding: 5px 5px;
    box-sizing: border-box;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
  }
}
