.app_container.app_navigation.app_logged {
  padding: 0;
  background: #6b6b6b;
  margin: 0;
  padding: 0;
  ul {
    padding: 0;
    text-align: center;
    display: block;
    margin: 0 auto;
    float: none;
    width: 470px;
  }
}
