.label_movie {
  display: block;
  width: 100%;
  float: left;
  overflow: hidden;
  &:after {
    clear: both;
    display: block;
    content: "";
  }
  .lm_title {
    margin-bottom: 0px;
    box-sizing: border-box;
    margin: 0;
    padding: 1px 5px;
    text-shadow: 1px 1px 1px white;
    font-weight: bold;
    min-width: 320px;
    float: left;
    box-sizing: border-box;
    text-align: justify;
    background: white;
    background: -webkit-gradient(
      left top,
      left bottom,
      color-stop(0%, white),
      color-stop(47%, #f6f6f6),
      color-stop(100%, #ededed)
    );
    background: linear-gradient(to bottom, white 0%, #f6f6f6 47%, #ededed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
    width: 100%;
    min-width: 320px;
    min-height: 20px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 5px 10px 5px 10px;
    border-bottom: 1px solid #d0d0d0;
    border-top: 1px solid #d0d0d0;
  }
  .lm_desc {
    float: left;
    width: 100%;
    background: white;
    box-sizing: border-box;
    padding: 5px 10px;
    &.lm_ratings {
      border-bottom: 1px solid #c7c7c7;
      //padding-left: 50px;
      img.ratings_img {
        float: left;
        max-width: 40px;
        margin-right: 10px;
        max-height: 29px;
      }
    }
  }
}

form#FormMatchSearch {
  display: block;
  background: #eaeaea;
  padding: 10px 10px;
  margin: 10px 10px;
  border: 1px solid black;
  float: left;
  width: calc(100% - 40px);
  label {
    display: block;
    float: left;
    border: 1px solid #d0d0d0;
    box-sizing: border-box;
    text-align: justify;
    width: calc(50% - 1px);
    min-width: 320px;
    min-height: 20px;
    margin: 0px 0px 2px 1px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 5px 10px 5px 10px;
    background: rgba(255, 255, 255, 1);
    background: -moz-linear-gradient(
      top,
      rgba(255, 255, 255, 1) 0%,
      rgba(246, 246, 246, 1) 47%,
      rgba(237, 237, 237, 1) 100%
    );
    background: -webkit-gradient(
      left top,
      left bottom,
      color-stop(0%, rgba(255, 255, 255, 1)),
      color-stop(47%, rgba(246, 246, 246, 1)),
      color-stop(100%, rgba(237, 237, 237, 1))
    );
    background: -webkit-linear-gradient(
      top,
      rgba(255, 255, 255, 1) 0%,
      rgba(246, 246, 246, 1) 47%,
      rgba(237, 237, 237, 1) 100%
    );
    background: -o-linear-gradient(
      top,
      rgba(255, 255, 255, 1) 0%,
      rgba(246, 246, 246, 1) 47%,
      rgba(237, 237, 237, 1) 100%
    );
    background: -ms-linear-gradient(
      top,
      rgba(255, 255, 255, 1) 0%,
      rgba(246, 246, 246, 1) 47%,
      rgba(237, 237, 237, 1) 100%
    );
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1) 0%,
      rgba(246, 246, 246, 1) 47%,
      rgba(237, 237, 237, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
  }
  button[attr-state="true"] {
    background: rgba(210, 255, 82, 1);
    background: -moz-linear-gradient(
      top,
      rgba(210, 255, 82, 1) 0%,
      rgba(145, 232, 66, 1) 100%
    );
    background: -webkit-gradient(
      left top,
      left bottom,
      color-stop(0%, rgba(210, 255, 82, 1)),
      color-stop(100%, rgba(145, 232, 66, 1))
    );
    background: -webkit-linear-gradient(
      top,
      rgba(210, 255, 82, 1) 0%,
      rgba(145, 232, 66, 1) 100%
    );
    background: -o-linear-gradient(
      top,
      rgba(210, 255, 82, 1) 0%,
      rgba(145, 232, 66, 1) 100%
    );
    background: -ms-linear-gradient(
      top,
      rgba(210, 255, 82, 1) 0%,
      rgba(145, 232, 66, 1) 100%
    );
    background: linear-gradient(
      to bottom,
      rgba(210, 255, 82, 1) 0%,
      rgba(145, 232, 66, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842', GradientType=0 );
    color: black;
    border: 1px solid #aaaaaa;
    width: 100px;
    height: 21px;
  }

  button[attr-state="false"] {
    background: rgba(255, 82, 84, 1);
    background: -moz-linear-gradient(
      top,
      rgba(255, 82, 84, 1) 0%,
      rgba(231, 103, 64, 1) 100%
    );
    background: -webkit-gradient(
      left top,
      left bottom,
      color-stop(0%, rgba(255, 82, 84, 1)),
      color-stop(100%, rgba(231, 103, 64, 1))
    );
    background: -webkit-linear-gradient(
      top,
      rgba(255, 82, 84, 1) 0%,
      rgba(231, 103, 64, 1) 100%
    );
    background: -o-linear-gradient(
      top,
      rgba(255, 82, 84, 1) 0%,
      rgba(231, 103, 64, 1) 100%
    );
    background: -ms-linear-gradient(
      top,
      rgba(255, 82, 84, 1) 0%,
      rgba(231, 103, 64, 1) 100%
    );
    background: linear-gradient(
      to bottom,
      rgba(255, 82, 84, 1) 0%,
      rgba(231, 103, 64, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5254', endColorstr='#e76740', GradientType=0 );
    color: black;
    border: 1px solid #aaaaaa;
    width: 100px;
    height: 21px;
  }
}

.lm_search_results {
  .lm_title {
    display: block;
    float: left;
    border: 1px solid #d0d0d0;
    box-sizing: border-box;
    text-align: justify;
    margin: 1px 0px;
    background: white;
    background: -webkit-gradient(
      left top,
      left bottom,
      color-stop(0%, white),
      color-stop(47%, #f6f6f6),
      color-stop(100%, #ededed)
    );
    background: linear-gradient(to bottom, white 0%, #f6f6f6 47%, #ededed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
    width: 100%;
    min-height: 20px;
    margin: 0px 0px 0px 0px;
    font-family: sans-serif;
    padding: 5px 10px 5px 10px;
    font-size: large;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 12px;
    color: green;
  }

  .lm_col_left {
    float: left;
    width: 50px;
    background: white;
    .lm_list-poster {
      width: 50px;
      height: auto;
      overflow: hidden;
      display: block;
      float: left;
      height: 70px;
      img {
        height: 100%;
        width: 100%;
        display: block;
        overflow: hidden;
      }
    }
  }

  .lm_col_right {
    float: left;
    width: calc(100% - 50px);
    .lm_list-title {
      width: calc(100% - 50px);
      display: block;
      float: left;
      box-sizing: border-box;
      padding: 0px 0px 0px 10px;
      background: white;
      border-bottom: 1px solid #aca6a6;
      font-size: 12px;
    }
    .lm_list-type {
      width: calc(50% - 50px);
      display: block;
      float: left;
      box-sizing: border-box;
      padding: 0px 0px 0px 10px;
      background: white;
      border-bottom: 1px solid #aca6a6;
      font-size: 12px;
    }
    .lm_list-year {
      width: calc(50% - 50px);
      display: block;
      float: left;
      box-sizing: border-box;
      padding: 0px 0px 0px 10px;
      background: white;
      border-bottom: 1px solid #aca6a6;
      font-size: 12px;
      width: 50%;
    }
    .lm_list-title {
      font-weight: bold;
      color: #645c5c;
    }
    .lm_list-type {
      width: 50%;
      border: none;
    }
    .lm_list-title,
    .lm_list-year {
      border: none;
    }
    .lm_list-id {
      display: none;
    }
    .lm_list-title {
      width: 100%;
    }
  }

  .lm_list {
    background: white;
    padding: 5px 5px;
    min-height: 80px;
  }
}
