.app-contact__map {
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  img {
    width: 100%;
  }
}

.app_contact {
  ul {
    margin: 0;
    padding: 0;
  }
  ul li {
    margin: 10px 0px;
    list-style: none;
    border-bottom: 1px solid black;
    box-shadow: 0px 1px 0px #3e3e3e;
    padding-bottom: 10px;
  }
}

.app-contact__adress {
  margin-bottom: 30px;
  text-align: center;
}
